HELP.md
target/
# !.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Playwright
/playwright/test-results/
/playwright/playwright-report/
/playwright/blob-report/
/playwright/.cache/
/playwright/node_modules

# Maven Wrapper
.mvn
/mvnw
/mvnw.cmd

# Misc
*.zip
.DS_Store
